.layout {
    margin: 20px;
}

.ant-list {
    background-color: white !important;
}

.ant-list-item-action-split {
    display: none !important;
}

.toolbar-bottom > .ant-card > .ant-card-body {
  padding: 15px !important;
}

/* *::-webkit-scrollbar { 
    display: none !important; 
  } */